{% extends 'header.html' %}

{% block content %}
<div class='container text-center'>

  <h2>Charts</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3>Line and Bar Chart</h3>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
          const ctx = document.getElementById("myChart").getContext("2d");
          const date = {{ date|safe }}
          const close = {{ close|safe }}
          const volume = {{ volume|safe }}
          const tradeCode = {{ trade_code|safe }}
          const data = {
            labels: date,
            datasets: [
              {
                label: 'Volume',
                data: volume,
                borderColor: 'rgba(252, 57, 37, 0.69)',
                backgroundColor: 'rgba(252, 57, 37, 0.69)',
                stack: 'combined',
                type: 'bar'
              },
              {
                label: 'Close',
                data: close,
                borderColor: 'rgba(0, 70, 192, 0.69)',
                backgroundColor: 'rgba(0, 70, 192, 0.69)',
                stack: 'combined'
              }
            ]
          }
          const mixedChart = new Chart(ctx, {
          
            type: 'line',
            data: data,
            options: {
              plugins: {
                title: {
                  display: true,
                  text: 'Line/Bar Chart'
                }
              },
              scales: {
                y: {
                  stacked: true
                }
              }
            },
});

        </script>
      </div>
    </div>
  </div>

  <h2>Table Visualization</h2>
  <a href='upload'><button class="btn btn-success mb-3 mt-3">Add New Data</button></a>

  <nav aria-label="Page navigation example">
    <ul class="pagination">

  {% if pages.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a class="page-link" href="?page={{pages.previous_page_number}}">Previous</a></li>
  {% endif %}

  {% if pages.has_next  %}
    <li class="page-item"><a class="page-link" href="?page={{pages.next_page_number}}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{pages.paginator.num_pages}}">Last &raquo</a></li>
  {% endif %}

    </ul>
  </nav>

  Page {{pages.number}} of {{pages.paginator.num_pages}}

  <table class="table table-dark table-striped">
    <thead>
      <tr>
            <th scope="col">Date</th>
            <th scope="col">Trade Code</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
            <th></th>
            <th></th> 
      </tr>
    </thead>
    <tbody>
      {% for data in pages %}
        <tr>
            <td contenteditable='true'>{{data.date}}</td>
            <td contenteditable='true'>{{data.trade_code}}</td>
            <td contenteditable='true'>{{data.high}}</td>
            <td contenteditable='true'>{{data.low}}</td>
            <td contenteditable='true'>{{data.open}}</td>
            <td contenteditable='true'>{{data.close}}</td>
            <td contenteditable='true'>{{data.volume}}</td>
            <td><a href='upload/{{data.id}}'><button class='btn btn-primary'>Update</button</a></td>
            <td><a class="btn btn-danger" href='delete/{{data.id}}'>Delete</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock  %}